<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <table>
            <tr>
                <td>Nombre del estudiante</td>
                <td>Apellidos del estudiante</td>
                <td>Edad del estudiante</td>
                <td>Email del estudiante</td>
                <td>Telefono del estudiante</td>
                <td>Carrera del estudiante</td>
            </tr>
            <tr>
                <td>{{ estudiantes.nombre }}
                </td>
                <td>
                    {{estudiantes.apellido}}
                </td>
                <td>
                    {{estudiantes.edad}}
                </td>
                <td>
                    {{estudiantes.email}}
                </td>
                <td>
                    {{estudiantes.telefono}}
                </td>
                <td>
                    {{estudiantes.carrera}}
                </td>
            </tr>
        </table>
        <a href="/ejercicio/"><button>Volver al inicio</button></a>
</body>
</html>